# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
logs
*.log
*node_modules
*/node_modules
*bourbon
*/bourbon
*neat
*/neat
**/node_modules
.idea
*/.idea
.DS_Store
**/.DS_Store
.tags
.tags1
server.js
mine.js
#*gulpfile.js
#*/gulpfile.js
#*package.json
#*/package.json
